.flex-layout {
    display: flex;
    gap: 10px;
    background-color: aqua;
}

.flex-layout2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(0, 0, 0);
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: rgb(255, 153, 0);
}

.grid-layout2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(0, 255, 34);
}
