<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h3> Componente </h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Perfil</th>
                    </tr>
                </thead>
                <tbody>
                    @for (usuario of usuarios; track usuario) {
                        <tr>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.fechaNacimiento }}</td>
                            <td>{{ usuario.perfil }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>