body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    color: #000000bd;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
body.oscuro {
    background-color: #121212;
    color: #ffffff;
}

.tarjeta {
    border: 10px solid #5500ff;
    color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 30px 10px rgba(0, 0, 0, 0.421);
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: #002244;
    width: 350px;
    max-width: 90%;
}

/* Tarjetas en modo oscuro */
body.oscuro.tarjeta {
    background-color: #1e1e1e;
    border-color: #8888ff;
}

.perfil-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.titulo {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    color: #ffffff;
}

.descripcion {
    color: #ffffff;
    margin-bottom: 1rem;
}

h2 {
    color: #00ddff;
    scale: 1.0;
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

header {
    text-align: center;
    background-color: #001eff;
    color: #fff;
    padding: 1rem 0;
}


.btn-conectar {
    padding: 0.5rem 3.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-fondo {
    padding: 0.5rem 3.5rem;
    background-color: #005fa3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-estilo {
    padding: 0.5rem 3.5rem;
    background-color: #5500ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-estilo:hover {
    background-color: #e100ff;
}

.btn-fondo:hover {
    background-color: #00ab2e;
}
.btn-conectar:hover {
    background-color: #0095ff;
}

.tarjeta:hover {
    transform: scale(1.05);
}
.cuerpo {
    transition: all 2.3s ease;
    display: flex;
    flex-wrap: wrap;           /* Para que las tarjetas bajen si no caben */
    justify-content: center;   /* Centra horizontalmente */
    gap: 20px;                 /* Espacio entre las tarjetas */
    padding: 200px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #05003d;
    color: #ffffff;
    margin-top: 200px;
}

body.oscuro footer {
    background-color: #000000;
    color: #ddd;
}

.precio {
    scale: 1.6;
    color: #00ff00;
    font-weight: bold;
    margin: 0.5rem 0;
}

.btn-sumar, .btn-restar {
    background-color: #fbff00;
    color: rgb(0, 0, 0);
    border: 3px solid #6200ff;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    width: 30px;
    height: 30px;
    scale: 1.5;
}

.btn-sumar:hover, .btn-restar:hover {
    background-color: #ff5100;
}

.comprar {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    scale: 1.2;
}

.btn-comprar {
    padding: 1rem 4rem;
    background-color: #00ab2e;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s;
}

.btn-comprar:hover {
    background-color: #008a23;
}

.cantidad {
    color: #ff0095;
    font-weight: bold;
    margin: 0.5rem 0;
    scale: 1.2;
}

.cambiarPag {
    display: inline-block;
    margin-top: 10px;
    padding: 7px 10px;
    background-color: #007a99;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;;
}

.contenedor-1 {
    margin-top: 100px;
    display: flex; /* Activa el modelo flex */
    flex-direction: row; /* o column */
    justify-content: center; /* alineaci칩n horizontal */
    align-items: center; /* alineaci칩n vertical */
    gap: 10px; /* separaci칩n entre elementos */
}

.contenedor-2 {
    margin-top: 100px;
    display: grid; /* Activa el modelo grid */;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas de igual ancho */
    grid-template-rows: repeat(4, auto); /* 4 filas con altura autom치tica */
    justify-items: center; /* centra los elementos en cada celda */
    align-items: center; /* centra los elementos verticalmente */
    gap: 10px; /* espacio entre celdas */
}