
/*Tarjeta 1*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fef4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.perfil-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

h1 {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
}

.descripcion {
    color: #555;
    margin-bottom: 1rem;
}

.btn-conectar {
    padding: 0.5rem 1.5rem;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-atras {
    padding: 0.5rem 1.5rem;
    background-color: #cc0055;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-conectar:hover {
    background-color: #005fa3;
}

.btn-atras:hover {
    background-color: #a30029;
}

/*Tarjeta 2*/