<h1>{{ title }}</h1>

<p>{{ mensaje }}</p>

<h2>Lista de tecnologías (antes)</h2>

<ul>
    <li *ngFor="let tecnologia of tecnologias">
        {{ tecnologia }}
    </li>
</ul>

<h2>Lista de tecnologías con nueva version for (usar este always)</h2>

<ul>
    @for(tecnologia of tecnologias; track tecnologia){
        <li>
            {{ tecnologia }}
        </li>
    }
</ul>

<h2>Lista de tecnologías (antes)</h2>

<ul>
    <li *ngFor="let tecnologia of tecnologias2">
        {{ tecnologia.nombre }} - Versión {{ tecnologia.version }}
    </li>
</ul>

<h2>Lista de tecnologías con nueva version for (usar esto always)</h2>

<ul>
    @for(tecnologia of tecnologias2; track tecnologia){
        <li> {{ tecnologia.nombre }} - Versión {{ tecnologia.version }} </li>
    }
</ul>